/* Google Font 'Poppins' */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* 
  Har Boostrap på Navbar samt egen CSS 
  nedan och Responsiv vid olika screen sizes & mobil anpassad så bra jag kan!
*/

body {
  font-family: "Poppins", sans-serif !important;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.nav-link:hover {
  color: rgb(175, 96, 96);
}

h1 {
  margin-bottom: 5%;
  color: rgb(175, 96, 96);
  font-weight: bold;
}

hr {
  display: none;
}

/* ABOUT ME */
.about-me {
  padding: 3% 15%;
  /* 3 % top bottom, 15% left right */
}

.about-me p {
  font-size: 20px;
  line-height: 1.5;
  max-width: 700px;
  display: inline-block;
}

.image-container {
  margin-bottom: 5%;
}

.image-container img {
  border-radius: 50%;
  width: 20%;

  /* center image in container */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* PORTFOLIO */
.portfolio {
  padding: 3% 15%;
  /* 3 % top bottom, 15% left right */
}

.list-section {
  max-width: 700px;
}

/* Carousel */
#projects {
  background-color: rgba(209, 197, 197, 0.253);
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 1rem;
  max-width: 600px;
  display: inline-block;
}

.project-text {
  font-size: 18px;
}

.project-image {
  width: 20%;
  margin: 20px;
  border-radius: 10px;
}

.portfolio p {
  font-size: 20px;
  line-height: 1.5;
  max-width: 700px;
  display: inline-block;
}

.carousel-link {
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.carousel-info {
  display: block;
  font-weight: bold;
}

.carousel-link:hover {
  color: rgb(175, 96, 96);
}

.carousel-control-prev {
  color: black;
}

.carousel-control-next {
  color: black;
}

/* CONTACT */
.contact {
  padding: 3% 15%;
  /* 3 % top bottom, 15% left right */
}

.contact p {
  font-size: 20px;
  line-height: 1.5;
  max-width: 700px;
  display: inline-block;
}

iframe {
  height: 300px;
  width: 75%;
}

/* top 10%, left and right 15 %, bottom 30% */
.map {
  margin: 10% 15% 30%;
}

/* FOOTER */
#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1.2rem;
}

#footer-content {
  color: lightgrey;
}

/* HELP CLASSES */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA RESPONSIVENESS */
/* at screen width 1028px & 550px we will make this changes below */
@media (max-width: 1028px) {
  body {
    min-height: 130vh;
  }

  .about-me {
    margin-top: 5%;
  }

  .portfolio {
    margin-top: 5%;
  }

  .contact {
    margin-top: 5%;
  }

  .image-container img {
    width: 30%;
  }

  .map iframe {
    width: 100%;
    height: 100%;
  }

  .map {
    padding-bottom: 20%;
  }

  #projects {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .list-section {
    max-width: 500px;
  }
}

@media screen and (min-width: 550px) {
  body {
    min-height: 130vh;
  }

  .about-me {
    margin-top: 10%;
  }

  .about-me p {
    font-size: 15px;
  }

  .portfolio {
    margin-top: 10%;
  }

  .portfolio p {
    font-size: 15px;
  }

  .contact {
    margin-top: 10%;
  }

  .contact p {
    font-size: 15px;
  }

  .image-container img {
    width: 50%;
    margin-bottom: 20%;
  }

  .map iframe {
    width: 100%;
    height: 100%;
  }

  .map {
    padding-bottom: 20%;
  }

  #projects {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .list-section {
    max-width: 350px;
  }
}

@media screen and (min-width: 380px) {
  body {
    min-height: 130vh;
  }
}
